/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

#buttons {
    font-size: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#time {
    font-size: 260px;
    width: 100%;
}

#secSmallTime {
    font-size: 120px;
}

/* #time span{
     width: 800px;
     /* font-size: 200px; */
*/

/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/